extends ./layout.jade

block title
  title Single

block content
  div.row
    div.column
      div.single-overview
        h1.single-title #{booking.bookingType}
        p Booket dato: #{booking.dateFormatted}
        p Booket tid: #{booking.timeFormatted}
        p #{booking.comments}
        p Registered: #{booking.registeredFormatted}      
    div.column
      div.single-edit
        form(method='POST', action='/bookings/update/#{booking._id}?_method=PUT')
          div.column.medium-6.no-pad-left
            select(name='bookingType' value='#{booking.bookingType}')
              option(value='0') Velg type
              option(value='PT') PT
              option(value='Gruppetime') Gruppetime
          div.column.medium-6.no-pad-right
            input(id='test', type='date', name='bookingDate', format='dd.mm.yyyy', value='#{booking.bookingTime}')
            input(type='date', name='bookingTime', format='dd.mm.yyyy', value='#{booking.bookingTime}')
            textarea(name='comments', placeholder='Comments') #{booking.comments}
            button(type='submit', class="btn btn-update") UPDATE
            
            div#datetimepicker12
            
